@import "tailwindcss";

/* Color System */
:root {
  /* Primary Colors */
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2E7FF1;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;

  /* GreyScale */
  --grey-50:  #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #2F323E;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0F0F0F;

  /* Neutral Colors */
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #64748b;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;
  --color-neutral-950: #020617;


  /* Error Colors */
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
  --color-error-950: #450a0a;

  /* Semantic Colors */
  --color-background: var(--grey-900);
  --color-foreground: var(--color-neutral-50);
  --color-primary: var(--color-primary-600);
  --color-primary-foreground: var(--color-neutral-50);
  --color-secondary: var(--color-neutral-800);
  --color-secondary-foreground: var(--color-neutral-50);
}
/* Base styles */
* {
  border-color: var(--grey-600);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Blue filter for active sidebar icon */
.filter-blue {
  filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(7490%) hue-rotate(203deg) brightness(97%) contrast(101%);
}